.button {
  cursor: pointer;
  padding: {
    bottom: 5px;
    top: 5px;
    left: 10px;
    right: 10px;
  }
  border-radius: 10px;
  color: $light;

  &:active {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &-green {
    background: $green;
  }

  &-red {
    background: $crimson;
  }
}
