.input {
  width: 100%;
  border-radius: 5px;
  height: 35px;
  padding: {
    left: 7px;
    right: 7px;
  }
  border: none;

  &:focus {
    outline: none;
  }
}

.input-container {
  position: relative;
}

.error {
  background: rgba(220, 20, 60, 0.1);
  // transition: all 200ms linear;
  border: 1px dashed $crimson;

  &-icon {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    fill: $crimson;
  }
}
