.input {
  border-radius: 5px;
  height: 35px;
  padding: {
    left: 7px;
    right: 7px;
  }
  border: none;

  &:focus {
    outline: none;
  }
}

.error {
  background: rgba(220, 20, 60, 0.1);
  transition: all 200ms linear 100ms;
  border: 1px dashed $crimson;
}
